<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/responsive.bootstrap.min.css">
    </link>
    <link rel="stylesheet" href="./css/jquery.dataTables.css" />
    <link rel="stylesheet" href="./css/select.bootstrap.min.css" />
    <title>Document</title>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-danger" id="tcp_server_button">TCP Server</button>
    </div>
    <table class="display" style="width: 100%">

    </table>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>

    <script src="./js/jquery.dataTables.min.js">
    </script>
    <script src="./js/lodash.min.js"></script>
    <script src="./js/dataTables.select.min.js"></script>
    <script src="./js/script.js"></script>

    
</body>

</html>